@model TravelTrip.Models.Siniflar.AdresBlog
@{
    ViewBag.Title = "AdresEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Adres Ekleme Sayfası</h2>

<br />
@using (Html.BeginForm("AdresEkle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control", @required = "required" })
    <br />
     @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", @required = "required" })
    <br />

     @Html.LabelFor(x => x.Telefon)
    @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control", @required = "required" })
    <br />
     @Html.LabelFor(x => x.Adres)
    @Html.TextBoxFor(x => x.Adres, new { @class = "form-control", @required = "required" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, 8, 1, new { @class = "form-control", @required = "required" })
    <br />
    @Html.LabelFor(x => x.Konum)
    @Html.TextAreaFor(x => x.Konum, 8, 1, new { @class = "form-control", @required = "required" })
    <button class="btn btn-primary">Ekle</button>
}


