@model TravelTrip.Models.Siniflar.AdresBlog
@{
    ViewBag.Title = "AdresGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Adres Guncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("AdresGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readOnly = "readOnly" })
    <br />
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control", @required = "required" })
    <br />
    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", @required = "required" })
    <br />

    @Html.LabelFor(x => x.Telefon)
    @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control", @required = "required" })
    <br />
    @Html.LabelFor(x => x.Adres)
    @Html.TextBoxFor(x => x.Adres, new { @class = "form-control", @required = "required" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, 8, 1, new { @class = "form-control", @required = "required" })
    <br />
    @Html.LabelFor(x => x.Konum)
    @Html.TextAreaFor(x => x.Konum, 8, 1, new { @class = "form-control", @required = "required" })
    <button class="btn btn-primary">Kaydet</button>
}
